main {
  margin-top: 60px;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 60px;
  height: 100%;

  @include media-laptop {
    max-width: none;
  }
  @include media-tablet {
    padding: 0 40px;
  }
  @include media-large-mobile {
    padding: 0 20px;
  }
}

.page-title {
  margin-bottom: 40px;
}